body{
  background-color: blue;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 150px;
}
.App {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 310px;
  margin: auto;
  margin-top: 80px;
  border-radius: 15px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}


button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color:purple;
}
button:hover {
  background-color: lightblue;
}